{% assign document = site.documents | sort: 'section' %}
    {% for links in document %}
        {% if links.title == page.title %}

            {% unless forloop.first %}
                {% assign prevurl = prev.url %}
                {% assign prevtitle = prev.title %}
            {% endunless %}

            {% unless forloop.last %}
                {% assign next = document[forloop.index] %}
                {% assign nexturl = next.url %}
                {% assign nexttitle = next.title %}
            {% endunless %}
        {% endif %}
        {% assign prev = links %}
    {% endfor %}
<hr>
{% if prevurl or nexturl %}
    <div class="d-flex justify-content-between mb-5">
        {% if prevurl %} <a href="{{prevurl}}" class="prev">&larr; {{ prevtitle | upcase }}</a> {% endif %}                    
        {% if nexturl %} <a href="{{nexturl}}" class="next">{{nexttitle | upcase}} &rarr;</a> {% endif %}
    </div>
{% endif %}