
  {% assign allposts = site.documents | sort: 'section'%}
    {% for chapter in allposts %}
    <!-- Get all chapters -->
      {% if chapter.tags contains "chapter" and page.url contains chapter.id %}
        <h5><a href="{{ chapter.url }}">{{ chapter.title | upcase }}</a></h5>
        <!-- Get all subchapters of current chapter -->
        {% for subchapter in allposts %}

          {% if subchapter.category contains chapter.title %}

            {% if subchapter.tags contains "subchapter"%}
            <h6><a class="" href="{{ subchapter.url }}">{{ subchapter.title | upcase }}</a></h6>
            {% endif %}
            <!-- Get all sections of current subchapter -->
            <ul>
              {% for section in allposts %}
              {% if section.tags contains subchapter.title %}
              <li>
                <a href="{{ section.url }}">{{ section.title}}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>

          {% endif %}

        {% endfor %}

      {% endif %}
    {% endfor %}

    {%- comment -%} <hr class="border-secondary">

    <p>
      <h6>Looking for a different chapter?</h6>
    </p>
    {% include chapters.html %} {%- endcomment -%}